body{
    box-sizing: border-box;
    background-image: url(../wallpapers/wall0.png);
    background-repeat: repeat;
    background-size: unset;
}

@keyframes fadeOut{
    90%{
        opacity: 1;
        z-index: 3;
    }
    100%{
        opacity: 0;
        z-index: -10;
    }
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c102c;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 1;
    animation: fadeOut 1s ease-out forwards;
    font-family: sans-serif;
    text-shadow: 0.5px 0px white, 1.5px 0px white;
    color: transparent;
    letter-spacing: 1.5px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

@keyframes boot{
    99% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.bootimg {
    display: block;
    user-select: none;
    margin: auto;
    opacity: 0;
    animation: boot 1s ease-out forwards;
    height: 50%;
    width: auto;
}

.winheader {
    margin: 4px 4px 0px 4px;
    padding: 6px 0px 2px 12px;
    height: 19px;
    display: flex;
    background-color: #04008a;
    position: relative;
    z-index: 2;
}

.winheader#style{
    transform: rotate(270deg);
    bottom: -133px !important;
    left: -132px !important;
    width: 280px;
}

.selbox{
    font-family: sans-serif;
    font-size: 13px;
    margin: 0px 15px 15px 0px;
    float: left;
    box-shadow: inset 1px 1px 0px 0px #fff, 1px 1px 0px 0px #000;
    background-color: #bdbdbd;
    display: none;
}

.content{
    margin: 10px 10px 10px 10px;
}

.content#start {
    position: relative;
    left: 0px;
    top: -37px;
}

.headtext{
    font-family: sans-serif;
    text-shadow: 0.5px 0px white, 1.5px 0px white;
    color: transparent;
    letter-spacing: 1.5px;
    line-height: 15px;
    font-size: .8rem;
    color: #fff;
}

.x{
    text-align: center;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #bdbdbd;
    padding: 0px;
    
}

.drawbox{
    display: none;
    background-color: #bdbdbd;
    box-shadow: inset 1px 1px 0px 0px #fff, 1px 1px 0px 0px #000;
    min-width: initial;
    min-height: initial;
    float: left;
    margin: 0px 15px 34px 0px;
}

.settings{
    display: none;
    background-color: #bdbdbd;
    box-shadow: inset 1px 1px 0px 0px #fff, 1px 1px 0px 0px #000;
    width: 454px;
    float: left;
    margin-bottom: 34px;
    margin: 0px 0px 34px 15px;
}

canvas{
    margin: 8px 8px 4px 8px;
    background-color: #fff;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 28px;
    background-color: #bdbdbd;
    box-shadow: inset 1px 1px 0px 0px #fff, 1px 1px 0px 0px #000;
}

.sm{
    position: fixed;
    bottom: 28px;
    left: 0px;
    width: 200px;
    height: 300px;
    background-color: #bdbdbd;
    box-shadow: inset 1px 1px 0px 0px #fff, 1px 1px 0px 0px #000;
    display: none;
}

.sm span {
    margin: 0px 0px 0px 5px;
}

.start{
    margin: 2px 0px 2px 2px;
    background-color: #bdbdbd;
    height: 24px;
    padding: 0px 3px 0px 0px;
    font-family: sans-serif;
    text-shadow: 0.5px 0px #000, 1.5px 0px #000;
    color: transparent;
    letter-spacing: 1.5px;
    line-height: 15px;
    font-size: .75rem;
    color: #000;
}

.photo{
    width: 15px;
    height: 15px;
    float: left;
    padding: 0px 2px 1px 5px;
}

.sel {
    position: relative;
    left: 21px;
    width: 92%;
    border: none;
    font-family: sans-serif;
    color: transparent;
    letter-spacing: 0.42px;
    line-height: 15px;
    font-size: .8rem;
    color: #000;
    text-align: left;
    padding: 5.5px 2px;
    margin: 0px;
    background-color: #bdbdbd; 
    border: none;
    z-index: 5;
}
.sel:hover {
    background-color: #04008a;
    color: #fff;
}

hr {
    width: 155px;
    margin: 1px 0px 0px 27px;
}

.settsel{
    margin: 3px 2px 5px 2px;
    background-color: #bdbdbd;
    padding: 5px 5px 5px 5px;
    width: 211px;
}
.settsel p{
    line-height: 15px;
    font-size: .75rem;
    color: #000;
    float: left;
    padding: 5px 5px 5px 5px;
}
.settsel img{
    width: 50px;
    height: 50px;
    float: left;
}

.settings#wallpapers {
    width: 224px;
}

.settings#styles {
    width: 200px;
}

.settings#infos {
    width: 200px;
}

.settings#soon {
    width: 300px;
}